body{
    text-align: center;
}
.intro{
    margin-bottom: 2rem;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 0.1rem solid #222;
    height: 30rem;
    width: 30rem;

}
.grid-container{
    display: flex;
    justify-content: center;
}
.gridSquare{
   display: block;
    border: 0.3rem solid #222;
}
main{
    display: flex;
    gap: 2rem;
}
.players{
    border: 0.3rem solid #222;
    width: 20rem;
}
.new-game{
    margin-top: 2rem;
}
.TokenWording{
    font-weight:700;
}
.canvas{
    width: 30px;
    height:30px;
    text-align: center;
}
.token{
    display:block;
}
.game-mode{
    margin-bottom: 3rem;
}